# Node modules
node_modules/

# Build output
.next/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnpm/
dist/
coverage/

# Local env files
.env*
!.env.example

# Docker
docker-compose.override.yml
.DS_Store

# System files
*.swp
Thumbs.db

# IDE settings
.vscode/
.idea/

# Nginx temp files
nginx/*.swp
